# install4j response file for Burp Suite
sys.adminRights$Boolean=false
sys.installationDir={{ burpsuite_install_dir }}
sys.languageId=en
sys.programGroupDisabled$Boolean=false
sys.symlinkDir={{ burpsuite_user_details.home }}/.local/bin
