import argparse
import pexpect.popen_spawn
import os
import signal
import sys
import urllib.request

java_path = "{{ burpsuite_java_path }}"
jar_path = "{{ burpsuite_jar_path }}"
cacert_file = "{{ burpsuite_cacert_path }}"
license_file = "{{ burpsuite_license_path }}"

child = pexpect.popen_spawn.PopenSpawn('{java} -Djava.awt.headless=true -jar "{jar}"'.format(java=java_path, jar=jar_path), encoding='UTF-8')
child.logfile = sys.stdout

expect_options = [
    'Do you accept the terms and conditions\\? \\(y/n\\)',
    'Do you accept the license agreement\\? \\(y/n\\)',
    'please paste your license key below.',
    'Enter preferred activation method',
    'Your license is successfully installed and activated.',
    'Proxy service started',
    'Failed to start proxy service'
    ]

exit_status = 0
while True:
    i = child.expect(expect_options)
    if i == 0:
        child.sendline('y')
        print('Terms and conditions accepted.')
    elif i == 1:
        child.sendline('y')
    elif i == 2:
        with open(license_file, 'r') as f:
            license = f.read()
        child.sendline(license)
    elif i == 3:
        child.sendline('o')
    elif i == 4:
        print('License successfully installed and activated.')
    elif i == 5:
        urllib.request.urlretrieve("http://localhost:8080/cert", cacert_file)
        os.chmod(cacert_file, 0o644)
        print('CA certificate saved to {cacert_file}'.format(cacert_file=cacert_file))
        break
    elif i == 6:
        print('Could not start proxy service. Quitting')
        exit_status = 1
        break
    else:
        print('Unexpected expect!')
        exit_status = 1
        break

child.kill(signal.SIGTERM)
sys.exit(exit_status)
